{% extends 'base.html.twig' %}

{% block title %}Музикална работилница{% endblock %}

{% block body %}
    <section id="about">
        <div class="container" data-aos="fade-up">
            <div class="row">
                <div class="col-lg-12"><h2>За платформата</h2>
                    <p>Платформата, дава възможност на музикантите да реализират своите музикални проекти онлайн. Тук те
                        могат да канят други музиканти, които са регистрирани в платформата, да участват в техния
                        проект. Музикалният проект се реализира изцяло онлайн, което значително улеснява музикантите.
                        Всички материали – звукови канали, текстове, коментари, са винаги достъпни за всички участници.
                        Всеки регистриран музикант/група има възможност да започне неограничен брой музикални проекти и
                        покани всички участници (музиканти/текстописци/звукорежисьори) необходими за осъществяването му.
                        Създателят на музикалния проект задава музикалната идея. Всеки участник може да запише своята
                        партия в домашното си студио( или във външно) и да качи записа в платформата. Всеки може да
                        чуе/изтегли записите на другите участници и да запише своята партия съобразно тях. Ако е включен
                        звукорежисьор, той периодически може да качва груби смесвания, които да ориентират музикантите
                        за звученето. Също могат да се добавят коментари във всеки един момент. Когато бъде завършен,
                        музикалния проект се поставя в раздел „Завършени проекти“, където могат да го видят всички
                        участници в платформата. Има връзка и към платформата “Muse“ на Music.bg, и всеки който желае,
                        може да го публикува там. Всеки музикант, има възможност да създаде собствен профил, който да го
                        представя пред другите музиканти. Профилът съдържа, снимка, имейл, описание ролята на музиканта
                        (певец, композитор, инструменталист…), а също и кратка творческа автобиография. Могат да се
                        качат 5 препратки към страници които представят музиканта (youtube канал, лична страница, профил
                        във facebook…). Също се показват и проектите му създадени до този момент.</p></div>
                <!--<div class="col-lg-3">            <h3>Where</h3>            <p>Downtown Conference Center, New York</p>          </div>          <div class="col-lg-3">            <h3>When</h3>            <p>Monday to Wednesday<br>10-12 December</p>          </div> -->
            </div>
        </div>
    </section><!-- End About Section -->    <!-- ======= Speakers Section ======= -->
    <section id="speakers">
        <div class="container" data-aos="fade-up">
            <div class="section-header"><h2>Участници</h2>
                <p>Послдно абонирани участници</p></div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100"><img src="images/venci.jpg" alt=""
                                                                                      class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Венци Дреников</a></h3>
                            <p>Композитор, аранжор, певец, клавишни инструменти, текстове на песни. </p>
                            <p> Създател и вокалист на група "Субдибула"</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="200"><img src="images/acho.jpg" alt=""
                                                                                      class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Acho Pench</a></h3>
                            <p> Композитор, аранжор, клавишни инструменти и тонрежисьор. </p>
                            <p>Един от създателите на група "Клас".</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="300"><img src="assets/img/speakers/3.jpg"
                                                                                      alt="Speaker 3" class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Cole Emmerich</a></h3>
                            <p>Fugiat laborum et</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="100"><img src="assets/img/speakers/4.jpg"
                                                                                      alt="Speaker 4" class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Jack Christiansen</a></h3>
                            <p>Debitis iure vero</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="200"><img src="assets/img/speakers/5.jpg"
                                                                                      alt="Speaker 5" class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Alejandrin Littel</a></h3>
                            <p>Qui molestiae natus</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="speaker" data-aos="fade-up" data-aos-delay="300"><img src="assets/img/speakers/6.jpg"
                                                                                      alt="Speaker 6" class="img-fluid">
                        <div class="details"><h3><a href="speaker-details.html">Willow Trantow</a></h3>
                            <p>Non autem dicta</p>
                            <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i
                                            class="bi bi-facebook"></i></a> <a href=""><i class="bi bi-instagram"></i></a> <a
                                        href=""><i class="bi bi-linkedin"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Speakers Section -->    <!-- ======= Schedule Section ======= -->
    <section id="schedule" class="section-with-bg">
        <div class="container" data-aos="fade-up">
            <div class="section-header"><h2>Завършени проекти</h2>
                <p>Последно завършени проекти</p></div>
            <div class="tab-content row justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <!-- Schdule Day 1 -->
                <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">
                    <div class="row schedule-item">
                        <div class="col-md-4">
                            <div class="speaker"><img src="http://music.bg/workshop/html_maket/subdibula.png"
                                                      alt="Brenden Legros"></div>
                            <h4>Бавно <span>група "Субдибула"</span></h4>
                            <p>Музика и аранжимент Венци Дренников</p></div>
                        <div class="col-md-4"><p>Участници в проекта :</p>
                            <p>Венци Дренников Петър Чухов, Божо Тренков, Момчил Борисов, Acho Pench, Ели Раданова</p>
                        </div>
                        <div class="col-md-4">
                            <iframe name="i-frame1" class="                 aut fil"
                                    src="https://www.youtube.com/embed/Fdbt9BtLrTw" frameborder="0"> &lt;a
                                href="https://www.youtube.com/embed/Fdbt9BtLrTw"&gt;https://www.youtube.com/embed/Fdbt9BtLrTw&lt;/a&gt;
                            </iframe>
                        </div>
                    </div>
                    <div class="row schedule-item">
                        <div class="col-md-4">
                            <div class="speaker"><img src="http://music.bg/workshop/html_maket/subdibula.png"
                                                      alt="Brenden Legros"></div>
                            <h4>Бавно <span>група "Субдибула"</span></h4>
                            <p>Музика и аранжимент Венци Дренников</p></div>
                        <div class="col-md-4"><p>Участници в проекта :</p>
                            <p>Венци Дренников Петър Чухов, Божо Тренков, Момчил Борисов, Acho Pench, Ели Раданова</p>
                        </div>
                        <div class="col-md-4">
                            <iframe name="i-frame1" class="                 aut fil"
                                    src="https://www.youtube.com/embed/Fdbt9BtLrTw" frameborder="0"> &lt;a
                                href="https://www.youtube.com/embed/Fdbt9BtLrTw"&gt;https://www.youtube.com/embed/Fdbt9BtLrTw&lt;/a&gt;
                            </iframe>
                        </div>
                    </div>
                    <div class="row schedule-item">
                        <div class="col-md-4">
                            <div class="speaker"><img src="http://music.bg/workshop/html_maket/subdibula.png"
                                                      alt="Brenden Legros"></div>
                            <h4>Бавно <span>група "Субдибула"</span></h4>
                            <p>Музика и аранжимент Венци Дренников</p></div>
                        <div class="col-md-4"><p>Участници в проекта :</p>
                            <p>Венци Дренников Петър Чухов, Божо Тренков, Момчил Борисов, Acho Pench, Ели Раданова</p>
                        </div>
                        <div class="col-md-4">
                            <iframe name="i-frame1" class="                 aut fil"
                                    src="https://www.youtube.com/embed/Fdbt9BtLrTw" frameborder="0"> &lt;a
                                href="https://www.youtube.com/embed/Fdbt9BtLrTw"&gt;https://www.youtube.com/embed/Fdbt9BtLrTw&lt;/a&gt;
                            </iframe>
                        </div>
                    </div>
                </div>          <!-- End Schdule Day 1 -->                 </div>
        </div>
    </section><!-- End Schedule Section -->                 <!-- =======  F.A.Q Section ======= -->
    <section id="faq">
        <div class="container" data-aos="fade-up">
            <div class="section-header"><h2>Въпроси и отговори</h2></div>
            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">
                    <ul class="faq-list">
                        <li>
                            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Какви изпълнителни
                                могат да се регистрират? <i class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq1" class="collapse" data-bs-parent=".faq-list"><p> Всички изпълнително без
                                    изключение. </p></div>
                        </li>
                        <li>
                            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Колко голяма трябва
                                да е снимката на изпълнителят? <i class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq2" class="collapse" data-bs-parent=".faq-list"><p> Хубаво снимката да е в
                                    прпорция 16:9 </p></div>
                        </li>
                        <li>
                            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet
                                consectetur adipiscing elit pellentesque habitant morbi? <i
                                        class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq3" class="collapse" data-bs-parent=".faq-list"><p> Eleifend mi in nulla posuere
                                    sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim.
                                    Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt.
                                    Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed
                                    odio morbi quis </p></div>
                        </li>
                        <li>
                            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci
                                dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq4" class="collapse" data-bs-parent=".faq-list"><p> Dolor sit amet consectetur
                                    adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec
                                    ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est
                                    pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa
                                    tincidunt dui. </p></div>
                        </li>
                        <li>
                            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam
                                pellentesque nec nam aliquam sem et tortor consequat? <i
                                        class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq5" class="collapse" data-bs-parent=".faq-list"><p> Molestie a iaculis at erat
                                    pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus
                                    commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus
                                    gravida quis blandit turpis cursus in </p></div>
                        </li>
                        <li>
                            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus
                                faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                                        class="bi bi-chevron-down icon-show"></i><i
                                        class="bi bi-chevron-up icon-close"></i></div>
                            <div id="faq6" class="collapse" data-bs-parent=".faq-list"><p> Laoreet sit amet cursus sit
                                    amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel.
                                    Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
                                    venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo
                                    sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit
                                    massa enim nec. </p></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section><!-- End  F.A.Q Section -->  </main><!-- End #main -->  <!-- ======= Footer ======= -->
{% endblock %}
